.container {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  @media (min-width: 1230px) {
    max-width: 1200px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 576px) {
    max-width: 540px;
  }
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}