.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba($header_bg_color, 0.9);
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  &__logo{
    font-family: Raleway;
    font-weight: 800;
    font-size: 22px;
    padding: 20px 0;
    line-height: 1;
    align-items: center;
    text-transform: uppercase;
    color: $white;
    display: block;
    transition: all $animation_speed;
    @media (min-width: 992px) {
      font-size: 28px;
      padding: 30px 0;
      &:hover{
        color: $primary-blue;
      }
    }
  }

  &__burger {
    padding: 20px 15px;
    width: 60px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (min-width: 768px) {
      display: none;
    }
    &_line {
      height: 1px;
      width: 100%;
      background: $white;
      //& + & {
      //  margin-top: 5px;
      //}
    }
    &--open &_line {
      &:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 9px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -17px;
      }
    }
  }

  &__menu {
    padding: 0;
    margin: 0 0 0 auto;
    display: none;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &_item {
      color: $white;
      text-decoration: none;
      font-size: 14px;
      padding: 0 20px;
      text-transform: uppercase;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      align-items: center;
      transition: all $animation_speed;
      @media (min-width: 992px) {
        padding: 0 30px;
        &:hover {
          background: rgba($white, 0.05);
        }
      }

      &--active {
        color: $primary-blue;
        pointer-events: none;
      }
    }

    @media (max-width: 767px) {
      position: fixed;
      padding: 15px 0;
      top: 62px;
      left: 0;
      right: 0;
      background: rgba($header_bg_color, 0.9);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      opacity: 0;
      pointer-events: none;
      &_item {
        padding: 15px 0;
        width: 100%;
        text-align: center;
        justify-content: center;
      }
      &--open {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

}
















