body {
  font-family: $main_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

h2 {
  font-family: $main_font;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 32px;
  }
  @media (min-width: 992px) {
    font-size: 48px;
  }
}

h3 {
  font-family: $main_font;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.1;
  text-transform: uppercase;
  @media (min-width: 992px) {
    font-size: 36px;
  }
}