$main_font: Lato;

$header_bg_color: #10101D;
$main_bg_color: #272733;
$footer_bg_color: #3D4050;
$white: #FFFFFF;
$gray01: #C3C3C3;
$gray02: #6F6D7B;
$gray03: #2A2B30;
$black: #000000;
$primary-blue: #3E9CDC;
$dark-blue: #286690;

$animation_speed: 0.25s;