// Шрифты
@import "fonts";

// Переменны (цвета, скорость transition и пр)
@import "_variables";

// Сетка
@import "_greed";

// UI
@import "_ui";

// Стили текстов
@import "_typography";

// Блоки
@import "_header";
@import "_sectionHeader";
@import "_footer";

*{
    outline: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.text {
    &--blue {
        color: $primary-blue;
    }
}